/* ============================
     < CHWM := CHAVIERWEBMÍDIA >
     < CSS := PÁGINA STYLE.CSS >
     ============================ */


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #0d0d0d 0%, #4a0e0e 30%, #c1121f 60%, #0d0d0d 100%);
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

/* Título */
h1 {
    color: rgb(150, 38, 38);
    font-size: 50px;
}